<!DOCYTYPE HTML>
<html>
<head>
<title>테스트</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Nanum+Gothic&family=Stylish&display=swap" rel="stylesheet">
<style>
    *{
        font-family: 'Gamja Flower', cursive;
     }
</style>
</head>
<body>
    <div style="text-align : center;" >
        <h1>
            테스트   
        </h1><br>
        <h3>
            {{ test_message }}
        </h3>
  
        <!-- <video src="/Users/wdit0/Desktop/Project_CP1/sample.avi" width="1280px" height="720px"></video> -->
  
        <button type="button" class="btn btn-primary"onClick="location.href='/'">
        Home
        </button>
    </div>
</body>
</html>